# User-specific files
.vs/
.vscode/
.idea/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]ebugBuild/
[Dd]istBuild/

# Uncomment if you have tasks that create project's logs
# projectname.suo
# projectname.user
# projectname.userosscache
# projectname.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.vsix
*.vsscc

#secret
Secret/
appsettings.Development.json
appsettings.json

# Ignore bin folder
bin/** */
obj/** */
